name: Build and deploy Node.js app to Azure Web App - taxsafe

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '18.x' # Changed to 18.x to match your package.json engines

      - name: npm install, build, and test
        run: |
          npm install
          npm run build --if-present
          npm run test --if-present

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'taxsafe'  # Fixed: XML profile shows your app name is 'taxsafe'
          slot-name: 'Production'
          publish-profile: ${{"taxsafe - Web Deploy" publishMethod="MSDeploy" publishUrl="taxsafe-breub7gvavf3fhaa.scm.centralindia-01.azurewebsites.net:443" msdeploySite="taxsafe" userName="$taxsafe" userPWD="x5aArFw8iwxb0z0GhjTfdDHu8MoF6sdgF4phbbdcGw56mWZEGnrcbTNgKFHL" destinationAppUrl="https://taxsafe-breub7gvavf3fhaa.centralindia-01.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="taxsafe - FTP" publishMethod="FTP" publishUrl="ftps://waws-prod-pn1-015.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="taxsafe\$taxsafe" userPWD="x5aArFw8iwxb0z0GhjTfdDHu8MoF6sdgF4phbbdcGw56mWZEGnrcbTNgKFHL" destinationAppUrl="https://taxsafe-breub7gvavf3fhaa.centralindia-01.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="taxsafe - Zip Deploy" publishMethod="ZipDeploy" publishUrl="taxsafe-breub7gvavf3fhaa.scm.centralindia-01.azurewebsites.net:443" userName="$taxsafe" userPWD="x5aArFw8iwxb0z0GhjTfdDHu8MoF6sdgF4phbbdcGw56mWZEGnrcbTNgKFHL" destinationAppUrl="https://taxsafe-breub7gvavf3fhaa.centralindia-01.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile></publishData>}}
          package: .